@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary-bg: #f3f0ff;
  --color-primary-bg-hover: #f3f0ff;
  --color-primary-border: #d1c9ff;
  --color-primary-border-hover: #aca1ff;
  --color-primary-hover: #7d72f2;
  --color-primary: #4f46e5;
  --color-primary-active: #3432bf;
  --color-primary-text-hover: #7d72f2;
  --color-primary-text: #4f46e5;
  --color-primary-text-active: #3432bf;

  --color-success-bg: #f6ffed;
  --color-success-bg-hover: #d9f7be;
  --color-success-border: #b7eb8f;
  --color-success-border-hover: #95de64;
  --color-success-hover: #95de64;
  --color-success: #52c41a;
  --color-success-active: #389e0d;
  --color-success-text-hover: #73d13d;
  --color-success-text: #52c41a;
  --color-success-text-active: #389e0d;

  --color-warning-bg: #fffbe6;
  --color-warning-bg-hover: #fff1b8;
  --color-warning-border: #ffe58f;
  --color-warning-border-hover: #ffd666;
  --color-warning-hover: #ffd666;
  --color-warning: #faad14;
  --color-warning-active: #d48806;
  --color-warning-text-hover: #ffc53d;
  --color-warning-text: #faad14;
  --color-warning-text-active: #d48806;

  --color-error-bg: #fff2f0;
  --color-error-bg-hover: #fff1f0;
  --color-error-border: #ffccc7;
  --color-error-border-hover: #ffa39e;
  --color-error-hover: #ff7875;
  --color-error: #ff4d4f;
  --color-error-active: #d9363e;
  --color-error-text-hover: #ff7875;
  --color-error-text: #ff4d4f;
  --color-error-text-active: #d9363e;

  --color-medium-gray: #94A3B8;
  --color-dark-gray: #475569;
  --color-link: #4f46e5;
  --color-bg-base: #fff;
  --color-text-base: #1E293B;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-inter-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
